<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
         {{!-- <h1>{{title}}</h1> --}}
         <img src="img/Hiru.JPG">
         {{!-- <p> Created By: {{name}}</p> --}}

         {{>footer}}

    </body>
</html>