<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/css/style.css">
     
    </head>
    <body>
         {{>header}}
         {{!-- <h2>{{title}}</h2> --}}
         {{!-- <p> Created By: {{name}}</p> --}}
          <form>
            <input placeholder="Location">
            <button>Search</button>
          </form>

         {{>footer}}
          <script src="/js/app.js"></script>
    </body>
</html>